<div class="comment" data-id="{{ item.id }}" data-level="{{ item.level }}">
  <div class="comment__meta">
    <span class="comment__user">{{ item.user }}</span>
    <span class="comment__time-ago">{{ item.timeAgo }}</span>
  </div>
  {{ include("comments/content.html.twig") }}
</div>